

{% block mainwmenu %}
<div class="menu">
    <ul>
        <a href=""><li>Abone Yönetimi</li></a>
        <a href=""><li>Cihaz Yönetimi</li></a>
        <a href=""><li>Bayilik Yönetimi</li></a>
        <a href=""><li>Teknik Servis</li></a>
        <a href=""><li>Stok Yönetimi</li></a>
        <a href=""><li>SMS Yönetimi</li></a>
        <a href=""><li>İstatistikler</li></a>
        <a href=""><li>Muhasebe İşlemleri</li></a>
        <a href=""><li>Bildirim Yönetimi</li></a>
    </ul>
</div>
{% endblock %}