{% load static %}
<html>
    <head>
        <title>farmirr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/abone.css' %}">
    </head>
    <body>
        {% include 'crm/menu.html' %}

        <div class="maindiv">
            <header>
                <div class="kullanicicikis">
                    <a href="{% url 'logout' %}">Çıkış</a>
                </div>
                 <div class="kullaniciisim">Hoşgeldin {{request.user.get_username}}</div>
            </header>

            <div class="listsubs">
                <div class="title1">
                    <h1>Abone Detay / Güncelle / Sil</h1>
                    <hr>
                </div>
                <form>
                        <div class="listsubsform">
                            {% for article in form %}
                                <p><label>Abone ID: </label><input value="{{article.subscriber_id}}"></p>
                                <p><label>Abone Adı: </label><input value="{{article.first_name}}"></p>
                                <p><label>Abone Soyadı: </label><input value="{{article.last_name}}"></p>
                                <p><label>Tc Kimlik NO: </label><input value="{{article.public_ID}}"></p>
                                <p><label>Telefon No: </label><input value="{{article.phone_number}}"></p>
                                <p><label>E Mail Adres: </label><input value="{{article.email_address}}"></p>
                                <p><label>Bayi ID: </label><input value="{{article.seller_id}}"></p>
                            {% endfor %}
                        </div>
                        <div class="listsubsform">
                            {% for article2 in form2 %}
                                <p><label>Ülke: </label><input value="{{article2.country}}"></p>
                                <p><label>Şehir: </label><input value="{{article2.city}}"></p>
                                <p><label>Mahalle / Semt: </label><input value="{{article2.district}}"></p>
                                <p><label>Köy / Kasaba: </label><input value="{{article2.village}}"></p>
                                <p><label>Tam Adres: </label><textarea>{{article2.address}}</textarea></p>
                            {% endfor %}
                        </div>
                    <div class="listsubsbuttondiv">
                        <button type="submit" style="border-color:#c0d725; color: #363947; background-color: #c0d725;" class="listsubsbutton btn btn-success">Güncelle</button>
                        <button type="submit"  class="listsubsbutton btn btn-danger">Kullanıcıyı Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>



