{% load static %}

<html>
    <head>
        <title>farmirr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bayi.css' %}">
    </head>
    <body>
        {% include 'crm/menu.html' %}
        <div class="maindiv">
            <header>
                <div class="kullanicicikis">
                    <a href="{% url 'logout' %}">Çıkış</a>
                </div>
                 <div class="kullaniciisim">Hoşgeldin {{request.user.get_username}}</div>
            </header>
            <div class="addformsroutermain">
                 <button class="addformsrouterbutton" onclick="location.href='{% url 'bayiekle' %}'">
                     <div class="addformsrouterbuttontext">Bayi Ekle</div>
                 </button>
            </div>
            <div class="sellerfiltersearchmain">
                <div class="title1">
                    <h1>Bayi Ara</h1>
                    <hr>
                </div>
                <div class="sellerfiltersearchform">
                    <form method="POST" class="post-form">{% csrf_token %}
                        <span>Bayi ID:</span>
                        <input type="text"  name="seller_id"  value="{{request.POST.seller_id}}">
                        <span>Bayi Adı:</span>
                        <input type="text"  name="seller_name" value="{{request.POST.seller_name}}">
                        <span>Telefon No:</span>
                        <input type="text"  name="phone_number"  value="{{request.POST.phone_number}}">
                        <button type="submit" name="bayiara" class="save btn btn-warning">Ara</button>
                        <button type="submit" name="bayitümü" class="save btn btn-dark">Tümü</button>
                    </form>
                </div>
                <div class="sellerfiltersearchtable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Bayi Adı</th>
                                <th scope="col">Vergi No</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">Yetki</th>
                                <th scope="col">E Mail</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Detay</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in form %}
                                <tr>
                                    <th scope="row">{{article.seller_id}}</th>
                                    <th>{{article.seller_name}}</th>
                                    <th>{{article.tax_number}}</th>
                                    <th>{{article.phone_number}}</th>
                                    <th>{{article.authority}}</th>
                                    <th>{{article.email_address}}</th>
                                    <td></td>
                                    <td><form action="{% url 'bayidetay' %}" method="POST">{% csrf_token %}<button onclick="location.href='{% url 'bayidetay' %}'" name="sellerid" type="submit" value="{{article.seller_id}}" class="stocksearchbutton btn btn-dark">Detay</button></form></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>