<nav>
    <a style="text-decoration: none;" href="/home"><div class="logo">farmirr</div></a>
    <ul>
        {% if perms.abone.add_subscribercreate %}
            <a href="/abone"><li>Abone Yönetimi</li></a>
        {% endif %}

        {% if perms.bayi.add_seller %}
        <a href="/cihaz"><li>Cihaz Yönetimi</li></a>
        {% endif %}

        {% if perms.bayi.add_seller %}
            <a href="/bayi"><li>Bayilik Yönetimi</li></a>
        {% endif %}

        <a href=""><li>Teknik Servis</li></a>

        {% if perms.stok.add_inventory_device %}
            <a href="/stok"><li>Stok Yönetimi</li></a>
        {% endif %}

        {% if perms.bayi.add_seller %}
        <a href=""><li>SMS Yönetimi</li></a>
        <a href=""><li>İstatistikler</li></a>
        <a href=""><li>Muhasebe İşlemleri</li></a>
        <a href="/bildirim"><li>Bildirim Yönetimi</li></a>
        {% endif %}
    </ul>
</nav>
