{% load static %}

<html>
    <head>
        <title>farmirr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/stok.css' %}">
    </head>
    <body>
        <nav>
            <div class="logo">farmirr</div>
            <ul>
                <a href="/abone"><li>Abone Yönetimi</li></a>
                <a href=""><li>Cihaz Yönetimi</li></a>
                <a href="/bayi"><li>Bayilik Yönetimi</li></a>
                <a href=""><li>Teknik Servis</li></a>
                <a href="/stok"><li>Stok Yönetimi</li></a>
                <a href=""><li>SMS Yönetimi</li></a>
                <a href=""><li>İstatistikler</li></a>
                <a href=""><li>Muhasebe İşlemleri</li></a>
                <a href=""><li>Bildirim Yönetimi</li></a>
            </ul>
        </nav>
        <div class="maindiv">
            <header>
                <div class="kullanicicikis">
                    <a href="{% url 'logout' %}">Çıkış</a>
                </div>
                 <div class="kullaniciisim">Hoşgeldin {{request.user.get_username}}</div>
            </header>
            <div class="addformsroutermain">
                <button class="addformsrouterbutton" onclick="location.href='{% url 'cihazekle' %}'">
                     <div class="addformsrouterbuttontext">Cihaz Ekle</div>
                </button>
                <button class="addformsrouterbutton" onclick="location.href='{% url 'stoksatis' %}'">
                     <div class="addformsrouterbuttontext">Satış/Yönlendirme</div>
                </button>
                <button class="addformsrouterbutton" onclick="location.href='{% url 'cihazekle' %}'">
                     <div class="addformsrouterbuttontext">Stok Çıkışı</div>
                </button>
            </div>
            <div class="stockfiltersearchmain">
                <div class="stockfiltersearchform">
                    <div class="title1">
                        <h1>Stok Filtreleyerek Ara</h1>
                        <hr>
                    </div>
                    <form method="POST" class="post-form">{% csrf_token %}
                        <span>Cihaz ID:</span>
                        <input type="text"  name="device_id"  value="{{request.POST.device_id}}">
                        <span>Cihaz Tipi:</span>
                        <select name="device_type" value="{{request.POST.device_type}}">
                            <option value="">------</option>
                            <option value="ws">Hava Sensörü</option>
                            <option value="ss">Toprak Sensörü</option>
                            <option value="ps">Basınç Sensörü</option>
                            <option value="ps2">Basınç Sensörü 2</option>
                            <option value="wc">Kuyu merkezi</option>

                        </select>
                        <span>Cihaz Marka:</span>
                        <select name="gsm_brand" value="{{request.POST.gsm_brand}}">
                            <option value="">------</option>
                            <option value="turkcell">Turkcell</option>
                            <option value="vodafone">Vodafone</option>
                            <option value="turktelekom">Türk Telekom</option>
                        </select>
                        <button type="submit" class="stocksearchbutton btn-dark">Cihaz Ara</button>
                    </form>
                </div>
                <div class="stockfiltersearchtable">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">Cihaz ID</th>
                              <th scope="col">Cihaz Tipi</th>
                                <th scope="col">Marka</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Abone</th>
                                <th scope="col">Bayi</th>
                                <th scope="col">Detay</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in form %}
                                <tr>
                                    <th scope="row">{{article.device_id}}</th>
                                    <td>{{article.device_type}}</td>
                                    <td>{{article.gsm_brand}}</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td><form action="{% url 'bayidetay' %}" method="POST">{% csrf_token %}<button onclick="location.href='{% url 'bayidetay' %}'" name="sellerid" type="submit" value="{{article.seller_id}}" class="stocksearchbutton btn btn-dark">Detay</button></form></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>