{% load static %}

<html>
    <head>
        <title>farmirr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/stok.css' %}">
    </head>
    <body>
        {% include 'crm/menu.html' %}
        <div class="maindiv">
            <header>
                <div class="kullanicicikis">
                    <a href="{% url 'logout' %}">Çıkış</a>
                </div>
                <div class="kullaniciisim">Hoşgeldin {{request.user.get_username}}</div>
            </header>
            <div class="sellstockdatamain">
                <div class="sellstockdataform">
                    <div class="title1">
                        <h1>Satış</h1>
                        <hr>
                    </div>
                    <form method="POST" class="post-form">{% csrf_token %}
                        <table class="table">
                            <thead>
                                <tr>
                                  <th scope="col">Cihaz ID</th>
                                  <th scope="col">Cihaz Tipi</th>
                                    <th scope="col">Marka</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in form %}
                                    <tr>
                                        <th scope="row">{{article.device_id}}</th>
                                        <td>{{article.device_type}}</td>
                                        <td>{{article.gsm_brand}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p><label>Satıcı ID:</label><input type="text"></p><br><br><br>
                        <button type="submit" name="adddevice" style="margin-right:100px; float:right;border:#417D00; background: #c0d725;" class="sellstockdatabutton btn-success">Satış Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>



