{% load static %}
<html>
    <head>
        <title>farmirr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/abone.css' %}">
    </head>
    <body>
        {% include 'crm/menu.html' %}
        <div class="maindiv">
            <header>
                 <div class="kullanicicikis">
                    <a href="{% url 'logout' %}">Çıkış</a>
                 </div>
                 <div class="kullaniciisim">Hoşgeldin {{request.user.get_username}}</div>
            </header>
            <div class="listsubs">
                <div class="title1">
                    <h1>Stok Detay / Güncelle / Sil</h1>
                    <hr>
                </div>
                <form action="{% url 'stokdetay' %}" method="POST">{% csrf_token %}
                    {% for article in form %}
                        <div class="listsubsform">
                            <p><label>Cihaz ID: </label><input name="device_id" value="{{article.device_id}}" ></p>
                            <p><label>Cihaz Tipi: </label>
                                {% if article.device_type == 'ws' %}
                                    <select name="device_type" value="{{request.POST.device_type}}">
                                        <option value="ws">Hava Sensörü</option>
                                        <option value="ss">Toprak Sensörü</option>
                                        <option value="ps">Basınç Sensörü</option>
                                        <option value="ps2">Basınç Sensörü 2</option>
                                        <option value="wc">Kuyu merkezi</option>
                                    </select>
                                {% elif article.device_type == 'ss' %}
                                    <select name="device_type" value="{{request.POST.device_type}}">
                                        <option value="ss">Toprak Sensörü</option>
                                        <option value="ws">Hava Sensörü</option>
                                        <option value="ps">Basınç Sensörü</option>
                                        <option value="ps2">Basınç Sensörü 2</option>
                                        <option value="wc">Kuyu merkezi</option>
                                    </select>
                                {% elif article.device_type == 'ps' %}
                                    <select name="device_type" value="{{request.POST.device_type}}">
                                        <option value="ps">Basınç Sensörü</option>
                                        <option value="ss">Toprak Sensörü</option>
                                        <option value="ws">Hava Sensörü</option>
                                        <option value="ps2">Basınç Sensörü 2</option>
                                        <option value="wc">Kuyu merkezi</option>
                                    </select>
                                {% elif article.device_type == 'ps2' %}
                                    <select name="device_type" value="{{request.POST.device_type}}">
                                        <option value="ps2">Basınç Sensörü 2</option>
                                        <option value="ps">Basınç Sensörü</option>
                                        <option value="ss">Toprak Sensörü</option>
                                        <option value="ws">Hava Sensörü</option>
                                        <option value="wc">Kuyu merkezi</option>
                                    </select>
                                {% elif article.device_type == 'wc' %}
                                    <select name="device_type" value="{{request.POST.device_type}}">
                                        <option value="wc">Kuyu merkezi</option>
                                        <option value="ps2">Basınç Sensörü 2</option>
                                        <option value="ps">Basınç Sensörü</option>
                                        <option value="ss">Toprak Sensörü</option>
                                        <option value="ws">Hava Sensörü</option>
                                    </select>
                                {% endif %}
                            </p>
                            <p>
                                <label>Cihaz Marka:</label>
                                {% if article.gsm_brand == 'turkcell' %}
                                    <select name="gsm_brand" value="{{request.POST.gsm_brand}}">
                                        <option value="turkcell">Turkcell</option>
                                        <option value="vodafone">Vodafone</option>
                                        <option value="turktelekom">Türk Telekom</option>
                                    </select>
                                {% elif article.gsm_brand == 'vodafone' %}
                                    <select name="gsm_brand" value="{{request.POST.gsm_brand}}">
                                        <option value="vodafone">Vodafone</option>
                                        <option value="turkcell">Turkcell</option>
                                        <option value="turktelekom">Türk Telekom</option>
                                    </select>
                                {% elif article.gsm_brand == 'turktelekom' %}
                                    <select name="gsm_brand" value="{{request.POST.gsm_brand}}">
                                        <option value="turktelekom">Türk Telekom</option>
                                        <option value="vodafone">{{article.gsm_brand}}</option>
                                        <option value="turkcell">Turkcell</option>
                                    </select>
                                {% elif article.gsm_brand == None %}
                                    <select name="gsm_brand" value="{{request.POST.gsm_brand}}">
                                        <option value="">--------</option>
                                        <option value="turktelekom">Türk Telekom</option>
                                        <option value="vodafone">{{article.gsm_brand}}</option>
                                        <option value="turkcell">Turkcell</option>
                                    </select>
                                {% endif %}
                            </p>
                            <p><label>Bayi: </label><input disabled value="{{article.seller_id}}"></p>
                            <p><label>Abone: </label><input disabled value="{{article.subscriber_id}}"></p>
                        </div>
                        <div class="listsubsbuttondiv">
                            <button name="deviceupdatestock" type="submit" style="border-color:#c0d725; color: #363947; background-color: #c0d725;" class="listsubsbutton btn btn-success">Güncelle</button>
                            <button name="devicedeletestock" type="submit" value="{{article.device_id}}" class="listsubsbutton btn btn-dark">Cihazı Sil</button>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </body>
</html>



