{% load static %}

<html>
    <head>
        <title>farmirr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/stok.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        {% include 'crm/menu.html' %}
        <div class="maindiv">
            <header>
                <div class="kullanicicikis">
                    <a href="{% url 'logout' %}">Çıkış</a>
                </div>
                 <div class="kullaniciisim">Hoşgeldin {{request.user.get_username}}</div>
            </header>

            <form action="{% url 'toplusatis' %}" method="POST">{% csrf_token %}
                <div class="sellstockdatamain">
                    <div class="sellstockteklidataform">
                        <div class="title1">
                            <h1>Toplu Cihaz Satışı</h1>
                            <hr>
                        </div>

                        <span>Tipi:</span>
                        <select id="toplucihazdevice_type" name="toplucihazdevice_type" value="{{request.POST.toplucihazdevice_type}}">
                            <option value="">------</option>
                            <option value="ws">Hava Sensörü</option>
                            <option value="ss">Toprak Sensörü</option>
                            <option value="ps">Basınç Sensörü</option>
                            <option value="gsm">Sim Kart</option>
                            <option value="wc">Kuyu merkezi</option>
                        </select>

                        <span id="markaenabledspan" style="display:none">Marka:</span>
                        <select id="toplucihazgsm_brand" style="display:none" name="toplucihazgsm_brand" value="{{request.POST.toplucihazgsm_brand}}">
                            <option value="">------</option>
                            <option value="turkcell">Turkcell</option>
                            <option value="vodafone">Vodafone</option>
                            <option value="turktelekom">Türk Telekom</option>
                        </select>
                        <script>
                                    $(document).ready(function(){
                                        $('#toplucihazdevice_type').change(function () {
                                            var job =  $('#toplucihazdevice_type').val();
                                            if(job=='gsm'){
                                                $("#markaenabledspan").show();
                                                $("#toplucihazgsm_brand").show();
                                            }
                                            if(job=='ws'){
                                                $("#markaenabledspan").hide();
                                                $("#toplucihazgsm_brand").hide();
                                            }
                                            if(job=='ss'){
                                                $("#markaenabledspan").hide();
                                                $("#toplucihazgsm_brand").hide();
                                            }
                                            if(job=='ps'){
                                                $("#markaenabledspan").hide();
                                                $("#toplucihazgsm_brand").hide();
                                            }
                                            if(job=='wc'){
                                                $("#markaenabledspan").hide();
                                                $("#toplucihazgsm_brand").hide();
                                            }
                                        })
                                    })
                        </script>
                        <button name="toplucihazaraabuton">Ara</button>
                        <button name="toplucihaztümüabuton">Tümü</button>
                        <br><br>
                        <p><input class="sellstockfindseller" name="toplusatisbayiid" type="text">
                            <label>bayiye</label>
                            <input class="sellstockfindseller" name="toplusatisdeger1" type="text">
                            <label>ile</label>
                            <input class="sellstockfindseller" name="toplusatisdeger2" type="text">
                            <label>'yi VE arasındaki cihazları</label>
                            <button name="toplucihazsatbuton">Sat</button>
                        </p>

                        <br>
                        <br>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Cihaz ID</th>
                                    <th scope="col">Cihaz Tipi</th>
                                    <th scope="col">Marka</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in form %}
                                    <tr>
                                        <th scope="row">{{article.device_id}}</th>
                                        <td>
                                            {% if article.device_type == 'ws' %}
                                                Hava Sensörü
                                            {% elif article.device_type == 'ss' %}
                                                Toprak Sensörü
                                            {% elif article.device_type == 'ps' %}
                                                Basınç Sensörü
                                            {% elif article.device_type == 'gsm' %}
                                                Sim Kart
                                            {% elif article.device_type == 'wc' %}
                                                Kuyu Merkezi
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if article.gsm_brand == None %}
                                                Yok
                                            {% else %}
                                                {{article.gsm_brand}}
                                            {% endif %}
                                        </td>
                                        <td>500 TL</td>
                                        <td>
                                            <button onclick="location.href='{% url 'stoksatis' %}'" style="border:#417D00; background: #c0d725;" name="tekilcihazsatisbuton" type="submit" value="{{article.device_id}}" class="sellstockdatabutton btn btn-dark">Satış Yap</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>